<a href="https://colab.research.google.com/github/DillonZdrojewski/Homework-1/blob/main/hw01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW 01

### Q1. Write a program to input your age and print whether you are more than or less than a billion seconds old.

In [ ]:
## Enter answer here.
age = float(input('How old are you?'))
onebillionseconds = 31.7
if age < 31:
  print("You are younger than 1 billion seconds")
else:
    print("You are older than 1 billion seconds")

How old are you?22
You are younger than 1 billion seconds

### Q2. Create a list with 10 names. Print each name with a Good morning greeting with the name using a conditional loop.

For example

`name = ['Ashley', 'Brianna', 'Chetan', 'David', 'Eoin', 'Francois', 'Gemma', 'Hameed', 'Ishaan', 'Joanna']`

Outputs will be 'Good morning, Ashley', 'Good morning, Brianna', and so on.

In [ ]:
## Enter answer here.
names = ['Ashley', 'Brianna', 'Chetan', 'David', 'Eoin', 'Francois', 'Gemma', 'Hameed', 'Ishaan', 'Joanna']
for item in names:
  print("Good morning, " + item + "!")

Good morning, Ashley!
Good morning, Brianna!
Good morning, Chetan!
Good morning, David!
Good morning, Eoin!
Good morning, Francois!
Good morning, Gemma!
Good morning, Hameed!
Good morning, Ishaan!
Good morning, Joanna!

### Q3. Create a list of 15 numbers. Print only those numbers that are divisible by 2.

In [ ]:
## Enter answer here.
for i in range(16):
  print(i*2)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

### Q4. Print the squared numbers of a list containing at least 10 numbers with a mix of float, integer, and negative numbers. Use the longer method as well as list comprehension.

You can either generate your own list of 10 numbers or find use a random number generator.

In [ ]:
## Enter answer here.

nums = [0,-1.25,15.86,-25]
method1_squares = []

for i in nums:
    method1_squares.append(i**2)

print(method1_squares)

## Now method 2

[0, 1.5625, 251.53959999999998, 625]

In [ ]:
#Method 1 Answer
nums = list(range(1,10))
method1_squared = []
for i in nums:
  method1_squared.append(i**2)
print (method1_squared)
# Method 2 Answer
numbers = [3, -2, 7.5, -4.3, 10, -8, 6.1, 0, -1, 5]
squared_numbers_comp = [nums * 2 for num in numbers]
print("Squared numbers (list comprehension):", squared_numbers_comp)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
Squared numbers (list comprehension): [[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

### Q5. Write a program to print a year if it is a leap year.

In [ ]:
year = int(input())

if year%4 == 0:
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2025
2025 is not a leap year

In [ ]:
def is_leap_year(year):
  return (year % 4==0 and year % 100 != 0 )
year = int(input("Enter a year"))
if is_leap_year(year):
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter a year2025
2025 is not a leap year

### Q6. Use list comprensions to print all names in a list in upper case.

In [ ]:
names = ["gabe", "aj", "sam"]
names_upper = [name.upper() for name in names]
print(names_upper)

['GABE', 'AJ', 'SAM']

### Q7. Question on NUMPY arrays:

a. Create a numpy array called `original` with 100 random numbers. What is the largest number, smallest number, max, min, median, and standard deviation of your array? Print them.

HINT: use `np.random.uniform()`. Check online for the correct syntax. `np.random.rand(100)` will give you 100 random numbers of uniform distribution with mean 0 and standard deviation of 1, while we want a mix of larger numbers/integers.

b. Now create an array called `orig_sqrt` which contains the square roots of the numbers in the original array.

### Q8.  Converting 1D arrays into 2D arrays.

a. Convert your original array of 100 random numbers into a 2-dimensional array called `mat_array` with 20 rows and 5 columns. Print this array.

b. What is the mean of every column in `mat_array`?

c. What is the sum of every row? Create a list of 20 elements that contains the sum of every row in `mat_array`.

d. Create the transpose of `mat_array` and call it `transpose_array`. What are the dimensions of this array now? Again, find the mean of each column and the sum of each row.

### Q9. Array slicing:

a. create a new array which contains the 3rd-10th rows and all columns of `mat_array`. Print.

b. Print a new array which contains the the last 5 rows and the last 2 columns of `mat_array`. What is the dimension of this array?

c. Print a new array which contains the first 3 rows and last 10 columns of `transpose_array`.

In [ ]:
# Write your answer here. Feel free to break your answer into different blocks of code rather than using just this one cell. Label your answer neatly.

In [ ]:
#7A
import numpy as np
original = np.random.rand(100)
largest_number = np.max(original)
smallest_number = np.min(original)
max_value = original.max()
min_value = original.min()
median_value = np.median(original)
std_deviation = np.std(original)

largest_number, smallest_number, max_value, min_value, median_value, std_deviation
#7B
#orig_sqrt = [np.random.rand(100)**2]
#orig_sqrt

(0.9855967573501713,
 0.006053749368940653,
 0.9855967573501713,
 0.006053749368940653,
 0.4458043835718387,
 0.2843688630067381)

In [6]:
#8A
import numpy as np
original_array = np.random.rand(100)
mat_array = original_array.reshape(20,5)
#8B
column_means = np.mean(mat_array, axis = 0)
#8C
row_sums = np.sum(mat_array, axis=1).tolist()
#8D
transpose_array = mat.array.T

NameError: name 'mat' is not defined

In [7]:
#9A
slice_3_10 - mat_array[2:10, :]

#9B
slice_last5_2cols = mat_array[-5:, -2:]
slice_last5_2cols_dims = slice_last5_2cols.shape

#9C
slice_first3_last10 = transpose_array[:3, -10:]

NameError: name 'slice_3_10' is not defined

### Q10. Assume you are inviting 15 friends to your party. You guest list has the following dietary preference.

`diet = ['vegetarian', 'pescetarian', 'vegetarian', 'omnivore', 'pescetarian', 'keto', 'keto', 'vegan', 'omnivore', 'omnivore', 'vegan', 'omnivore', 'keto, 'vegetarian', 'vegan']`

Their ages are as follows:

`age = [21, 20, 19, 25, 27, 18, 23, 25, 19, 22, 20, 20, 23, 21, 24]`

Create a list called `menu` which will contain 'veg. fried rice with whiskey' for vegans and vegetarians aged 21 and above,  'veg. fried rice with mocktail' for vegans and vegetarians aged below 21. Follow the same logic and assign fish and white wine to pescetarians of legal age (and fish with mocktail to those below 21). Keto and omnivore guests above 21 will have 'steak and red wine'. Complete the series with the appropriate drink for underage guests.

In [ ]:
# Write your answer here
import numpy as np
diet = ['vegetarian', 'pescetarian', 'vegetarian', 'omnivore', 'pescetarian', 'keto', 'keto', 'keto', 'omnivore', 'omnivore', 'vegetarian', 'omnivore', 'keto', 'vegetarian', 'omnivore']
age = [21, 20, 19, 25, 27, 18, 23, 15, 19, 22, 20, 23, 21, 24, 23, 21]

menu = {
    "vegetarian": { "adult": "Veg. fried rice with whiskey", "minor": "Veg. fried rice with mocktail"},
    "pescetarian": { "adult": "Steak and red wine", "minor": "Fish with mocktail"},
    "keto": { "adult": "Steak and red wine", "minor": "Steak and grape juice"},
    "omnivore": { "adult": "Steak and red wine", "minor": "Steak and grape juice"}
}
for i in range(len(diet)):
  person_diet = diet[i]
  person_age = age[i]

  if person_age >= 21:
    print(menu[person_diet]["adult"])
  else:
    print(menu[person_diet]["minor"])

Veg. fried rice with whiskey
Fish with mocktail
Veg. fried rice with mocktail
Steak and red wine
Steak and red wine
Steak and grape juice
Steak and red wine
Steak and grape juice
Steak and grape juice
Steak and red wine
Veg. fried rice with mocktail
Steak and red wine
Steak and red wine
Veg. fried rice with whiskey
Steak and red wine